#app_sidebar{
    // background-image: url('../../public/images/background.jpg');
    background-color: lightcoral;
    margin-right: 10px;
    width: 180px;


    p{
        text-align: center;
    }
    img{
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    a{
        color: gray;
    }

}